@model IEnumerable<ApplicantAssessmentSystem.App.Models.ViewModels.TransferViewModel>

@{
    ViewData["Title"] = "TransferApplicants";
    Layout = "~/Views/Shared/AssessmentManager_Layout.cshtml";
}

<h1>Transferred Applicants</h1>

<table class="table datatable">
    <thead>
        <tr>
            <th>
                Applicant Id
            </th>
            <th>
                Applicant Name
            </th>
            <th>
                Applicant Total Score
            </th>
            <th>
                Total Obtainable 
            </th>
            <th>
                Percentage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantTotalScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalObtainable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
        </tr>
        }
    </tbody>
</table>
